body {
  margin: 0px;
  padding: 0px 100px 0px 100px;
}

nav {
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navButtons {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.navLogo {
  width: 30%;
  display: flex;
  justify-content: center;
}

.navSelect {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}

.currencies option,
.currencies select {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #1d1f22;
  margin: 0px 10px;
}

.categories option,
.categories select {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 42px;
  line-height: 67px;
  color: #1d1f22;
  margin: 0px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 0px;
  outline: 0px;
}

.itemsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productItem img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.productItem,
.productItemDisabled {
  padding: 10px;
  margin: 10px 0px 10px 0px;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.productItemDisabled {
  opacity: 0.5;
}

.productItem:hover,
.productItemDisabled:hover {
  box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);
}

.addToCart {
  display: none;
  position: absolute;
  bottom: 60px;
  right: 25px;
  border-radius: 50%;
  background-color: rgba(94, 206, 123, 1);
  width: 52px;
  height: 52px;
}

.productItem:hover .addToCart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productName {
  font-family: "raleway";
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #1d1f22;
  margin-top: 24px;
}

.productPrice {
  font-family: "raleway";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #1d1f22;
}

.outStock {
  color: #8d8f9a;
  font-family: "raleway";
  font-weight: 400;
  font-size: 24px;
  line-height: 38.4px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 150px;
}

/* The below classes are all used in the Product Description Page */

.productDesc {
  margin-top: 80px;
  display: flex;
}

.imageList {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.imageList img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0px 0px 10px 0px;
}

.productImage {
  width: 50%;
  box-sizing: border-box;
  margin: 0px 40px 0px 20px;
}

.productImage img {
  width: 100%;
}

.productInfo {
  width: 30%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.productInfo h1 {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin: 0px;
  margin-bottom: 16px;
  color: #1d1f22;
}

.productInfo h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  margin: 0px;
  margin-bottom: 32px;
  color: #1d1f22;
}

.productAttributes {
  display: flex;
  flex-direction: column;
}

.productInfoPrice h2,
.attribute h2 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin: 0px;
  margin-bottom: 10px;
  color: #1d1f22;
}

.attributeItems {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.attributeItem {
  width: 65px;
  height: 45px;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  color: #1d1f22;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  margin-bottom: 10px;
}

.selectedAttribute {
  background-color: #1d1f22;
  color: white;
}

.swatchSelectedAttribute {
  box-shadow: 5px 5px 5px 0px black;
}

.productInfoPrice p {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 46px;
  margin: 0px;
  margin-bottom: 20px;
  color: #1d1f22;
}

.productInfo a button {
  width: 100%;
  padding: 16px 32px;
  height: 52px;
  background-color: #5ece7b;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  color: white;
  border: 0px;
  margin-bottom: 20px;
}

.productInfo button:hover {
  background: #3fa35a;
}

.productInfo button:active {
  background: #3fa35a;
  color: #1d1f22;
}

.productDescription {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #1d1f22;
}
